# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
base.db
out/
/FTPClient/FTPClient.iml
/FTPServer/FTPServer.iml
FTPServer/src/lib/
FTPClient/src/com/com.company/server/
FTPLike_app.iml
/FTPLike_app.iml
